[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/auto-pairs"]
	path = bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
	ignore = dirty
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/ag.vim"]
	path = bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule "bundle/ctrlsf.vim"]
	path = bundle/ctrlsf.vim
	url = https://github.com/dyng/ctrlsf.vim.git
	ignore = dirty
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "bundle/vim-ruby-runner"]
	path = bundle/vim-ruby-runner
	url = https://github.com/henrik/vim-ruby-runner.git
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/tomasr/molokai.git
	ignore = dirty
[submodule "bundle/MatchTagAlways"]
	path = bundle/MatchTagAlways
	url = https://github.com/Valloric/MatchTagAlways.git
	ignore = dirty
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-monokai"]
	path = bundle/vim-monokai
	url = https://github.com/sickill/vim-monokai.git
	ignore = dirty
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
	ignore = dirty
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
	ignore = dirty
[submodule "bundle/javascript-libraries-syntax"]
	path = bundle/javascript-libraries-syntax
	url = https://github.com/othree/javascript-libraries-syntax.vim.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors
[submodule "bundle/ruby-matchit"]
	path = bundle/ruby-matchit
	url = https://github.com/vim-scripts/ruby-matchit
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/gundo.vim"]
	path = bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/nginx-vim-syntax"]
	path = bundle/nginx-vim-syntax
	url = https://github.com/evanmiller/nginx-vim-syntax.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-wakatime"]
	path = bundle/vim-wakatime
	url = https://github.com/wakatime/vim-wakatime.git
	ignore = dirty
[submodule "bundle/vim-kalisi"]
	path = bundle/vim-kalisi
	url = https://github.com/NaiveCAI/vim-kalisi.git
[submodule "bundle/BufOnly.vim"]
	path = bundle/BufOnly.vim
	url = https://github.com/vim-scripts/BufOnly.vim.git
[submodule "bundle/vim-ctrlspace"]
	path = bundle/vim-ctrlspace
	url = https://github.com/vim-ctrlspace/vim-ctrlspace.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
	ignore = dirty
[submodule "bundle/Zenburn"]
	path = bundle/Zenburn
	url = https://github.com/jnurmine/Zenburn.git
[submodule "bundle/rainbow"]
	path = bundle/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "bundle/vim-easytags"]
	path = bundle/vim-easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule "bundle/limelight.vim"]
	path = bundle/limelight.vim
	url = https://github.com/junegunn/limelight.vim.git
[submodule "bundle/goyo.vim"]
	path = bundle/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
	ignore = dirty
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/badwolf"]
	path = bundle/badwolf
	url = https://github.com/sjl/badwolf.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = https://github.com/ap/vim-css-color.git
[submodule "bundle/vim-hybrid"]
	path = bundle/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/yaml-vim"]
	path = bundle/yaml-vim
	url = https://github.com/ingydotnet/yaml-vim.git
[submodule "bundle/gruvbox"]
	path = bundle/gruvbox
	url = git@github.com:NaiveCAI/gruvbox.git
[submodule "bundle/vim-startify"]
	path = bundle/vim-startify
	url = https://github.com/mhinz/vim-startify.git
[submodule "bundle/vim-material-theme"]
	path = bundle/vim-material-theme
	url = https://github.com/jdkanani/vim-material-theme.git
[submodule "bundle/matchtagalways"]
	path = bundle/matchtagalways
	url = https://github.com/valloric/matchtagalways
	ignore = dirty
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip
	ignore = dirty
[submodule "bundle/wxapp.vim"]
	path = bundle/wxapp.vim
	url = https://github.com/chemzqm/wxapp.vim.git
	ignore = dirty
[submodule "bundle/vim-jsx"]
	path = bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "bundle/locate.vim"]
	path = bundle/locate.vim
	url = https://github.com/mtth/locate.vim.git
	ignore = dirty
[submodule "bundle/sierra"]
	path = bundle/sierra
	url = https://github.com/AlessandroYorba/Sierra.git
[submodule "bundle/vim-diminactive"]
	path = bundle/vim-diminactive
	url = https://github.com/blueyed/vim-diminactive.git
[submodule "bundle/vim-highlightedyank"]
	path = bundle/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank.git
	ignore = dirty
[submodule "bundle/dash.vim"]
	path = bundle/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule "bundle/jellybeans.vim"]
	path = bundle/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-wordy"]
	path = bundle/vim-wordy
	url = https://github.com/reedes/vim-wordy.git
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule "bundle/scss-syntax"]
	path = bundle/scss-syntax
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "bundle/vim-slim"]
	path = bundle/vim-slim
	url = https://github.com/onemanstartup/vim-slim.git
