" M->cmd, A->option, C->control
" <ESC> - escape, <BS> - backspace, <CR> - return

" 启用vim surround功能
set surround
" 启用multi cursor
set multiple-cursors
" 显示行号
set nu
" 显示相对行号
set rnu
" 高亮搜索
set hlsearch
" 自动定位到输入中的字符串，不需要回车搜索
set incsearch
" 显示当前的模式
set showmode
" 共享系统粘贴板
set clipboard=unnamed
" 搜索时智能匹配大小写
set ignorecase smartcase

" Insert
inoremap jk <Esc>
