snippet asterisk "asterisk in elixir file" !b
IO.inspect("********************************************")
IO.inspect(${0})
IO.inspect("********************************************")
endsnippet

snippet bd "breakpoint in elixir file" !b
require IEx
IEx.pry
endsnippet
