snippet bd "binding.pry for rails in haml" !b
- binding.pry
endsnippet

snippet csl "console.log for js code in haml" !b
console.log("$1")
endsnippet

snippet dbg "debugger for js code in haml" !b
debugger
endsnippet
