snippet dbg "debugger for jsx file" !b
debugger
endsnippet	

snippet csl "console.log for jsx file" !b
console.log(${0})
endsnippet

snippet asterisk "asterisk for debug" !b
console.log('************************************')
console.log(${0})
console.log('************************************')
endsnippet
