snippet dbg "debugger for jsx file" !b
debugger
endsnippet	

snippet asterisk "asterisk for debug" !b
console.log('************************************')
console.log(${0})
console.log('************************************')
endsnippet
