snippet bd "binding.pry for rails" !b
binding.pry
endsnippet

snippet asterisk "asterisk for debug" !b
p '************************************'
p ${0}
p '************************************'
endsnippet
