snippet bd "binding.pry for rails in slim" !b
- binding.pry
endsnippet

snippet csl "console.log for js code in slim" !b
console.log("$1")
endsnippet

snippet dbg "debugger for js code in slim" !b
debugger
endsnippet

snippet asterisk "asterisk in slim file" !b
- puts '******************************************'
- puts ${0}
- puts '******************************************'
endsnippet
